DATABASE_URL=mongodb+srv://YOUR_USER:YOUR_PASSWORD@cluster0.xxxxx.mongodb.net/odoo-cafe
USE_MEMORY_MONGO=false
JWT_SECRET=your-secret-here
PORT=3001
CLIENT_URL=http://localhost:5173

SEED_ADMIN_NAME="Cafe Admin"
SEED_ADMIN_EMAIL="admin@cafe.com"
SEED_ADMIN_PASSWORD="admin123"
SEED_CASHIER_NAME="John Cashier"
SEED_CASHIER_EMAIL="cashier@cafe.com"
SEED_CASHIER_PASSWORD="cashier123"
